$snowboard-primary: #76001B;
$snowboard-secondary: #4D87C7;
$snowboard-neutral: #909090;
$snowboard-infobar: #f5f5f5;

$dark: $snowboard-primary;

@import "~bootstrap/scss/bootstrap";

.navbar-dark {
  .logo {
    max-width: 80px;
    max-height: 80px;
    margin-right: 1em;
  }

  .nav-item > a {
    color: white;
  }

  li {
    border-bottom: 2px solid transparent;

    &.active {
      border-color: white;
    }
  }
}

.trailer {
  background-size: cover;
  background-position: 50%;
  color: white;
}

.hero {
  padding-top: 3em;
  padding-bottom: 3em;
  min-height: 400px;
  display: flex;
  align-items: center;
  background: linear-gradient(rgba(255,255,255,0), 30%, rgba(255,255,255,0.5));

  .container {
    color: black;
    margin-top: 10em;
    background: rgba(255,255,255,0.8);
    padding-top: 1em;
    padding-bottom: 1em;
    border: 1px solid white;
    border-radius: 16px;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
  }
}

.infobar {
  background-color: $snowboard-infobar;
  padding: 0.3em;

  .container {
    @include media-breakpoint-up(md) {
      display: flex;
      align-items: baseline;
    }

    #youarehere {
      @include media-breakpoint-down(lg) {
        display: none;
      }
      margin-right: 1em;
    }

    nav {
      flex: 1;

      .breadcrumb {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }
}

main {
  padding-top: 2em;
  padding-bottom: 2em;

  h1, h2, h3, h4, h5, h6 {
    color: $snowboard-primary;
  }

  .page-header {
    border-bottom: 1px solid $snowboard-primary;
    padding-bottom: 1em;
    margin-bottom: 1.5em;

    h1 small {
      display: block;
      color: $snowboard-neutral;
      font-size: 0.6em;
    }
  }

  aside {
    border-left: 1px solid lighten($snowboard-neutral, 30%);
    h2 {
      border-bottom: 1px solid $snowboard-primary;
      margin-bottom: .5em;
      padding-bottom: .5em;
      font-size: 1.5rem;
    }
  }
}

footer {
  background-color: lighten($snowboard-secondary, 35%);
  padding-top: 2em;
  padding-bottom: 2em;

  h1, h2, h3, h4, h5, h6 {
    color: $snowboard-secondary;
    border-bottom: 1px solid $snowboard-secondary;
  }

  nav {
    ul {
      list-style: none;
      padding: 0;
    }

    a {
      color: $snowboard-secondary;
      text-decoration: none;
    }
  }
}