@media (max-width: 992px) {
  .navbar {
    .navbar-header img.logo {
      height: $navbar-height;
      width: auto;
      padding-right: 0px;
    }

    .navbar-brand {
      padding-top: 20px;
      width: 200px;

      .brand-line:nth-child(1) {
        font-size: 110%;
      }

      .brand-line:nth-child(2) {
        font-size: 80%;
      }
    }
  }
}

@media (max-width: 480px) {
  .navbar {
    .navbar-header img.logo {
      height: $navbar-height;
      width: auto;
      padding-right: 0px;
    }

    .navbar-brand {
      padding-top: 20px;
      width: 170px;

      .brand-line:nth-child(1) {
        font-size: 90%;
      }

      .brand-line:nth-child(2) {
        font-size: 60%;
      }
    }
  }
}