<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Snowboardschule Meyer, Müller &amp; Schmidt">
    <meta name="author" content="Martin Helmich">

    <title>Snowboardschule Meyer, Müller &amp; Schmidt</title>

    <!-- Bootstrap core CSS -->
    <link href="../css/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <header>
        <div class="trailer">
            <nav class="navbar navbar-inverse navbar-fixed-top" data-spy="affix" data-offset-top="80">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <img class="logo" src="../images/logo.png" />
                        <a class="navbar-brand" href="#">
                            <div class="brand-line">Snowboardschule</div>
                            <div class="brand-line">Meyer, Müller &amp; Schmidt</div>
                        </a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="active"><a href="aktuelles.html">Aktuelles</a></li>
                            <li class="dropdown">
                                <a href="kurse.html" class="dropdown-toggle disabled" role="button"
                                    data-toggle="dropdown">
                                    Kurse
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="kurse/ski.html">Ski</a></li>
                                    <li><a href="kurse/snowboard.html">Snowboard</a></li>
                                </ul>
                            </li>
                            <li><a href="termine.html">Termine</a></li>
                            <li><a href="trainer.html">Trainer</a></li>
                        </ul>
                    </div>
                    <!--/.navbar-collapse -->
                </div>
            </nav>

            <!-- Main jumbotron for a primary marketing message or call to action -->
            <div class="jumbotron">
                <div class="container">
                    <h1>Lerne Skifahren!</h1>
                    <p class="text-center">
                        In der Ski- und Snowboardschule Meyer, Müller &amp; Schmidt
                        ist erstklassiger Ski- und Snowboardunterricht unsere&nbsp;Mission!
                    </p>
                    <p class="text-center">
                        <a class="btn btn-primary btn-lg" href="#" role="button">jetzt Termin finden &raquo;</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="infobar">
            <div class="container">
                <div class="pull-right search">
                    <form class="form-inline">
                        <div class="input-group">
                            <input type="text" name="search" class="form-control" placeholder="Ihr Suchtext" />
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-success">
                                    <i class="glyphicon glyphicon-search"></i>
                                    Suchen
                                </button>
                            </span>
                        </div>
                        <div class="clearfix"></div>
                    </form>
                </div>
                <div class="print">
                    <a href="#">
                        <i class="glyphicon glyphicon-print"></i>
                        Druckversion</span>
                    </a>
                </div>
                <div class="language">
                    <div class="btn-group">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="glyphicon glyphicon-globe"></i>
                            Sprache <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="aktuelles.html">Deutsch</a></li>
                            <li><a href="en/news.html">Englisch</a></li>
                        </ul>
                    </div>
                </div>

                <div class="youarehere">
                    Sie sind hier:
                </div>

                <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li class="active">Aktuelles</li>
                </ol>
            </div>
        </div>
    </header>

    <main class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-8">
                <h1>Unsere Mission</h1>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
                    massa.
                    Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam
                    felis,
                    ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede
                    justo,
                    fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis
                    vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus
                    elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat
                    vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus
                    viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel
                    augue.
                    Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget
                    condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc,
                    blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec
                    vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus
                    tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed
                    consequat,
                    leo eget bibendum sodales, augue velit cursus nunc,
                </p>
                <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Heading</h2>
                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula
                    porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
                    ut
                    fermentum massa justo sit amet risus.</p>
                <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div>
        </div>

    </main>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h4>Aktuelles</h4>
                    <aside class="row">
                        <div class="col-md-4 date-wrapper">
                            Heute ist der
                            <div class="date">
                                1. Januar 1970
                            </div>
                        </div>
                        <div class="col-md-8 news-wrapper">
                            <div class="news">
                                <strong>26. Oktober 2018</strong>
                                <p>Da unser Snowboard-Lehrer Herr Müller krank ist, fallen die Snowboard-Lehrgänge bis
                                    auf
                                    weiteres
                                    aus.
                            </div>
                            <div class="news">
                                <strong>26. Oktober 2018</strong>
                                <p>Da unser Snowboard-Lehrer Herr Müller krank ist, fallen die Snowboard-Lehrgänge bis
                                    auf
                                    weiteres
                                    aus.
                            </div>
                        </div>
                    </aside>
                </div>
                <div class="col-md-4">
                    <h4>Mehr</h4>
                    <nav>
                        <ul>
                            <li><a href="/">Homepage</a></li>
                            <li><a href="/sitemap.html">Sitemap</a></li>
                            <li><a href="/impressum.html">Impressum</a></li>
                            <li><a href="/kontakt.html">Kontakt</a></li>
                            <li><a href="/jobs.html">Stellenangebote</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </footer>

    <script src="../javascript/main.js"></script>
</body>

</html>